body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flex display to arrange items horizontally */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.cart h2 {
    font-size: 24px;
    margin: 0 0 20px;
    padding: 0;
}

.cart ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Make the list take up the full width of the cart */
}

.cart ul li {
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%; /* Make each list item take up the full width */
}

.cart img {
    max-width: 100px;
    margin-right: 20px;
    height: 150px;
}

.cart h3 {
    font-size: 18px;
    margin: 0;
}

.cart p {
    font-size: 16px;
    margin: 0;
}

.cart .total {
    font-size: 20px;
    margin-top: 20px;
}

.cart button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart button#show-total {
    background-color: #28a745;
}

.cart button#checkout {
    background-color: #dc3545;
}

.cart button.remove {
    background-color: #dc3545;
    align-self: flex-end; /* Align the "Remove" button to the right */
}
