<!-- <p>aboutus works!</p> -->
<body>
    
    <section class="about-section">
        <div class="container">
            <h1>About Us</h1>
            <p style="font-weight: bold;color: green;">Welcome to UrbanHaul, your one-stop destination for online shopping!</p>
            <p style="font-weight: bold;">We are committed to providing you with the best shopping experience, offering a wide range of products from top brands, secure payment options, and prompt delivery to your doorstep.</p>
            <p style="font-weight: bold;">Our mission is to make online shopping easy, convenient, and enjoyable for our customers. With a user-friendly interface and responsive customer support, we aim to exceed your expectations.</p>
            <p style="font-weight: bold;">Thank you for choosing Your Shopping Cart. Happy shopping!</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Your UrbanHaul</p>
    </footer>
</body>