<div class="we-are-block">

    <div id="about-us-section">
  
      <div class="about-us-image">
  
        <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458" alt="Lobby Image">
  
      </div>
  
      <div class="about-us-info">
  
        <h2>Welcome to UrbanHaul</h2>
  
        <p>We are committed to providing you with the best shopping experience, offering a wide range of products from top brands, secure payment options, and prompt delivery to your doorstep.</p>
  
        <a title="About Us Button">ABOUT US</a>
  
      </div>
  
    </div>
  
    <div id="history-section">
  
      <div class="history-image">
  
        <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">
  
      </div>
  
      <div class="history-info">
  
        <h2>Our mission</h2>
  
        <p>Our mission is to make online shopping easy, convenient, and enjoyable for our customers. With a user-friendly interface and responsive customer support, we aim to exceed your expectations.Thank you for choosing Your Shopping Cart.</p>
  
        <a title="History Button">HAPPY SHOPPING!!</a>
  
      </div>
  
    </div>
  
  </div>